.buttonSearch
    flex 0 1 auto
    size 18px
    padding 0
    color #444
    font-family 'Icons'
    font-size 18px
    line-height 18px
    border 0
    outline 0
    background-color transparent
.buttonGradient
    flex 0 1 auto
    //float left
.buttonCart
    flex 0 1 auto
    position relative
    size 23px 18px
    padding 0
    color #454545
    font-family 'Icons'
    font-size 23px
    line-height 23px
    border 0
    outline 0
    background-color transparent
    &Count
        display block
        position absolute
        top -12px
        right -12px
        size 16px
        border-radius 50%
        background-color #12c82a
        background-image linear-gradient(45deg, #03b2d7 0%, #75b94c 100%)
        color white
        font-family 'Open Sans'
        text-align center
        font-size 11px
        font-weight 700
        line-height 16px

.buttonGradient
    display inline-block
    position relative
    // background-image linear-gradient(to top, #414d8c 0%, #2550a6 100%)
    background-color transparent
    //border-radius 17px
    height 40px
    color black
    font-family 'Open Sans'
    font-size 11px
    font-weight 700
    line-height 40px
    text-transform uppercase
    text-align center
    padding 0 28px
    text-decoration none
    outline 0
    border 0
    z-index 2
    transition all .3s
    &Text
        display block
        z-index 200
        em
            display inline-block
            vertical-align top
            font-style normal
            margin-left 5px
            color #31b5a0
            font-size 10px
            line-height 40px
            transition all .3s
    svg
        position absolute
        z-index -1
        left 0
        top 0
    &:hover
        color white
        em
            color white
