doctype
html
    head
        title Test page
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,600,700&subset=latin,cyrillic'  rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(href='./css/woff.css', type="text/css", rel="stylesheet")
        link(href='./css/blocks.css', type="text/css", rel="stylesheet")
        include _favicon.jade
        <!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
        <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
        //- include _font.jade
        //- include _svg.jade
        include _mixin.jade


    body
        include block/header.jade
        main
            block content
        include block/footer.jade
        script(src="./js/app.js")
            
