extends _layout
//- background-image linear-gradient(135deg, #75b94c 0%, #03b2d7 100%)
block content
    section.question
        .questionHeader
            h1  Вопрос-ответ
        nav.questionFilter
            .questionFilterItem.questionFilterItemActive
                a(href="#") Все
            .questionFilterItem
                a(href="#") Вопросы технологу
            .questionFilterItem
                a(href="#") Качество продукции
            .questionFilterItem
                a(href="#") Общие вопросы
            .questionFilterItem
                a(href="#") Доставка и оплата
    section.questionContent
        sidebar.questionSidebar
            .questionSidebarBlock
                h2 Задайте нам вопрос
                p Нам задали более 1000 вопросов за всю историю нашего сайта. Мы понимаем, как важно оперативно отвечать на возникающие вопросы и поэтому разделили вопросы на группы для удобного поиска.
                button.buttonGradient
                    .buttonGradientText
                        | задать вопрос
            .questionSidebarBlock.questionSidebarBlockPhoto
                h2 С фотофоном.
                p Нам задали более 1000 вопросов за всю историю нашего сайта. Мы понимаем, как важно оперативно отвечать на возникающие вопросы и поэтому разделили вопросы на группы для удобного поиска.
                button.buttonGradient
                    .buttonGradientText
                        | задать вопрос
        section.questionAnswers
            article.questionAnswer
                time.questionAnswerDate
                    | 11 января 2016
                header.questionAnswerHeader
                    | Михаил Бобровкин
                .questionAnswerText Здравствуйте, у вас бывает или можете заказать через вашу организацию - хмель шишковой ранний московский и дрожжи верхового брожения  Safbrew T-58?
                .questionAnswerQuotes
                    figure.questionAnswerQuoteAvatar
                        img(src="img/avatar.jpg", alt="")
                    blockquote.questionAnswerQuote
                        time.questionAnswerQuoteDate
                            | 11 января 2016
                        header.questionAnswerHeader
                            | Олег Тимофеев / Менеджер по работе с клиентами
                        .questionAnswerQuoteText
                            | Здравствуйте, Елена! Забрать можно, но с наличными деньгами мы не работаем. Оплата возможна банковской картой, либо наличными в отделении банка, по указанным на сайте реквизитам. Режим работы в Санкт-Петербурге: понедельник – пятница с 9 до 17.
            article.questionAnswer
                time.questionAnswerDate
                    | 11 января 2016
                header.questionAnswerHeader
                    | Михаил Бобровкин
                .questionAnswerText Здравствуйте, у вас бывает или можете заказать через вашу организацию - хмель шишковой ранний московский и дрожжи верхового брожения  Safbrew T-58?
                .questionAnswerQuotes
                    figure.questionAnswerQuoteAvatar
                        img(src="img/avatar.jpg", alt="")
                    .questionAnswerQuoteColumn
                        blockquote.questionAnswerQuote
                            time.questionAnswerQuoteDate
                                | 11 января 2016
                            header.questionAnswerHeader
                                | Олег Тимофеев / Менеджер по работе с клиентами
                            .questionAnswerQuoteText
                                | Здравствуйте, Елена! Забрать можно, но с наличными деньгами мы не работаем. Оплата возможна банковской картой, либо наличными в отделении банка, по указанным на сайте реквизитам. Режим работы в Санкт-Петербурге: понедельник – пятница с 9 до 17.
                        blockquote.questionAnswerQuote
                            time.questionAnswerQuoteDate
                                | 11 января 2016
                            header.questionAnswerHeader
                                | Олег Тимофеев / Менеджер по работе с клиентами
                            .questionAnswerQuoteText
                                | Здравствуйте, Елена! Забрать можно, но с наличными деньгами мы не работаем. Оплата возможна банковской картой, либо наличными в отделении банка, по указанным на сайте реквизитам. Режим работы в Санкт-Петербурге: понедельник – пятница с 9 до 17.
