@import './../../stylusMixin/libs'
@lost flexbox flex;
normalize()

a:focus
    outline 0

html
    height 100%
    min-width 480px

body
    display flex
    position relative
    flex-direction column
    min-height 100vh
    font-family 'Open Sans'
main
    flex 1
    background-color #fafafa
    position relative
