footer.footer
    .footerTop
        .footerTopWrap
            nav.footerMenu
                .footerMenuItem
                    a(href="#") О компании
                .footerMenuItem
                    a(href="#") Поставщики
                .footerMenuItem
                    a(href="#") Блог компании
                .footerMenuItem
                    a(href="#") Вопрос-ответ
                .footerMenuItem
                    a(href="#") Контакты
            section.footerPay
                img(src="img/pay.png", alt="")
                span К оплате принимаются <br>банковские карпты <br>VISA/MasterCard
    .footerBottom
        .footerBottomWrap
            .footerCopyright
                | Все права защищены 2015
            .footerContact
                .footerContactPhone
                    a(href="tel:00000")
                        span 
                        | +7 (812) 676-56-56
                .footerContactSocial
                    a(href="#") 
                    a(href="#") 
                    a(href="#") 
                    span
                    a(href="#") 
            .footerStudio
                | Создание – 
                a(href="#") Danke
