header.header
    .headerWrap
        section.logo
            a(href="#")
        nav.headerMenu
            .headerMenuItem.headerMenuItemActive
                a(href="#") Дрожжи
            .headerMenuItem
                a(href="#") Специи
            .headerMenuItem
                a(href="#") Кизельгур
            .headerMenuItem
                a(href="#") моющие средства
            .headerMenuItem
                a(href="#") Солод
            .headerMenuItem
                a(href="#") Хмель
        section.cart
            button.buttonSearch
                span.oi(data-glyph="magnifying-glass")
            button.buttonGradient
                .buttonGradientText Алексей
                    em &#9658;
            button.buttonCart
                span.oi(data-glyph="cart")
                span.buttonCartCount 3
                
