.header
    display block
    background-color #FFF
    clear fix
.headerWrap
    display flex
    justify-content space-between
    width 1180px
    margin-left auto
    margin-right auto
    align-items center
.logo
    flex 0 1 auto
    a
        display block
        size 123px 87px
        background-color #88c57c
.headerMenu
    flex 1 1 auto
    padding-left 57px

.headerMenuItem
    display inline-block
    margin-right 40px
    a
        color black
        font-family 'Open Sans'
        font-size 11px
        font-weight 600
        line-height 11px
        text-transform uppercase
        text-decoration none
        transition all .3s
        &:hover
            color rgba(#303030, .5)
    &Active
        a
            color rgba(#303030, .5)

.cart
    flex 0 1 auto
    align-items center
    justify-content flex-end
    button
        flex 0 1 auto
        margin-right 30px
        &:last-child
            margin-right 0
