.questionAnswers
    lost-column 2/3

.questionAnswer
    display block
    padding 39px 51px
    background-color #FFF
    margin-bottom 13px
    clear fix

.questionAnswerDate
    display block
    margin-bottom 7px
    color #8e8e8e
    font-family 'Open Sans'
    font-size 12px
    font-weight 500
    line-height 16px

.questionAnswerHeader
    display block
    margin-bottom 17px
    color black
    font-family 'Open Sans'
    font-size 14px
    font-weight 600
    line-height 16px

.questionAnswerText
    display block
    margin-bottom 38px
    color #282828
    font-family "Proxima Nova"
    font-size 16px
    font-weight 400
    line-height 22px

.questionAnswerQuotes
    display flex
    align-items flex-start
    padding-left 46px

.questionAnswerQuoteAvatar
    flex 0 1 auto
    margin-right 19px
    img
        size 64px
        border-radius 50%
.questionAnswerQuoteColumn
    flex 0 1 auto
.questionAnswerQuote
    margin 0 0 32px 0

.questionAnswerQuoteDate
    display block
    margin-bottom 7px
    color #8e8e8e
    font-family 'Open Sans'
    font-size 12px
    font-weight 500
    line-height 16px

.questionAnswerQuoteHeader
    display block
    margin-bottom 17px
    color black
    font-family 'Open Sans'
    font-size 14px
    font-weight 600
    line-height 16px

.questionAnswerQuoteText
    color #676767
    font-family 'Open Sans'
    font-size 16px
    font-weight 400
    font-style italic
    line-height 22px
