.questionSidebar
    lost-column 1/3
.questionSidebarBlock
    background-color #FFF
    padding 37px 47px
    margin-bottom 13px
    h2
        display block
        margin-bottom 25px
        color black
        font-family 'Open Sans'
        font-size 16px
        font-weight 700
        line-height 16px
    p
        display block
        margin-bottom 25px
        color #2f2f2f
        font-family 'Open Sans'
        font-size 14px
        font-weight 300
        line-height 18px

.questionSidebarBlockPhoto
    background-image url("../img/bg.jpg")
    background-size cover
