.question
    lost-center 1100px
    padding-top 60px
    margin-bottom 28px
.questionHeader
    lost-column 1/3
    h1
        color #181818
        font-family 'Open Sans'
        font-size 42px
        font-weight 700
        line-height 42px
.questionFilter
    lost-column 2/3

.questionContent
    lost-center 1100px
    align-content flex-start
    margin-bottom 45px
