.questionFilter
    display flex
    align-items center
    padding-top 12px
.questionFilterItem
    flex 0 1 auto
    padding 0px 14px
    transition all .3s
    border-radius 14px
    margin-right 5px
    a
        display block
        height 28px
        font-family 'Open Sans'
        font-size 12px
        font-weight 600
        line-height 28px
        color #383838
        text-decoration none
        transition all .3s
    &Active
        background-image linear-gradient(135deg, #75b94c 0%, #03b2d7 100%)
        a
            color white
    &:hover
        background-image linear-gradient(135deg, #75b94c 0%, #03b2d7 100%)
        a
            color white
