.footer
    flex 0
.footerTop
    display block
    background-color #FFF
.footerTopWrap
    display flex
    justify-content space-between
    width 1100px
    margin-left auto
    margin-right auto
    align-items center
    height 118px
.footerMenu
    display flex
    flex 0 1 auto
.footerMenuItem
    flex 0 1 auto
    margin-right 20px
    &:after
        content '|'
        color rgba(#000, .1)
        font-size 18px
    a
        padding-right 20px
        color #292929
        font-family 'Open Sans'
        font-size 11px
        font-weight 600
        line-height 26px
        text-transform uppercase
        text-decoration none
.footerPay
    flex 0 1 auto
    img
        display inline-block
        margin-right 10px
    span
        display inline-block
        color #454545
        font-family "Proxima Nova"
        font-size 12px
        font-weight 400
        font-style italic
        line-height 14px

.footerBottom
    display block
    background-color #efefef
.footerBottomWrap
    display flex
    justify-content space-between
    width 1180px
    margin-left auto
    margin-right auto
    align-items center
    height 108px

.footerCopyright
    flex 0 1 auto
    color rgba(#3b3b3b, .67)
    font-family 'Open Sans'
    font-size 12px
    font-weight 300
    line-height 27px
    padding-top 15px
    text-transform uppercase
.footerContact
    flex 0 1 auto
    align-items center
    height 27px
.footerStudio
    flex 0 1 auto
    color rgba(#3b3b3b, .67)
    font-family 'Open Sans'
    font-size 12px
    font-weight 300
    line-height 24px
    text-transform uppercase
    padding-top 15px
    a
        transition all .3s
        color rgba(#3b3b3b, .67)
        &:hover
            color rgba(#3b3b3b, .9)
.footerContactPhone
    display inline-block
    margin-right 67px
    a
        color rgba(#191919, .7)
        font-family 'Open Sans'
        font-size 14px
        font-weight 700
        line-height 12px
        text-decoration none
        span
            display inline-block
            margin-right 9px
            font-family 'FontAwesome'
            text-shadow none
            size 27px
            border-radius 50%
            font-size 12px
            color #5f5f5f
            font-size 16px
            line-height 27px
            text-align center
            background-color rgba(#252525, 0.23)
            transition all .3s
        &:hover
            color rgba(#191919, .9)
            span
                background-color rgba(#252525, 0.5)
                color white
.footerContactSocial
    display inline-block
    a
        display inline-block
        margin-right 9px
        font-family 'FontAwesome'
        text-shadow none
        size 27px
        border-radius 50%
        font-size 12px
        color #5f5f5f
        font-size 16px
        line-height 27px
        text-align center
        background-color rgba(#252525, 0.23)
        text-decoration none
        transition all .3s
        &:hover
            background-color rgba(#252525, 0.5)
            color white
    span
        display inline-block
        size 27px
        margin-right 9px
